
@using SISTEMAS_SED_APW.Models
@using Arquitetura.Util
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- basic scripts -->
    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="/assets/js/jquery-ui.custom.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/jquery.easypiechart.min.js"></script>
    <script src="/assets/js/jquery.sparkline.index.min.js"></script>
    <script src="/assets/js/jquery.flot.min.js"></script>
    <script src="/assets/js/jquery.flot.pie.min.js"></script>
    <script src="/assets/js/jquery.flot.resize.min.js"></script>

    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>

    @Styles.Render("~/bundles/angular/css")
    @Scripts.Render("~/bundles/angular/scripts")
    @Scripts.Render("~/bundles/global")
    @RenderSection("scriptsSection", required: false)
    @RenderSection("cssSection", required: false)

    <style>
        .infoSistema {
            background-color: #c3c3c3;
            color: #b1b1b1;
            font-size: 11px;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            margin: 5px;
            border-radius: 5px;
        }

            .infoSistema:hover {
                background-color: #4b4b4b;
                color: aliceblue;
            }

        .ajustaTop {
            padding-top: 90px;
            color: #6fff6f;
        }
    </style>

    <script>
        //Script scriado para contonar problema de clicar em uma archor e não ser redirecionado
        $(document).ready(function () {
            $("a").click(function (e) {
                var location = e.delegateTarget.href;
                if (location.length > 0 && location.substring(location.length - 1, location.length) != '#') {
                    window.location.href = location;
                }
                return true;
            });
        });
    </script>

</head>

<body class="no-skin">
    <div class="navbar navbar-default" id="navbar">
        <!-- navbar -->
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container ace-save-state" id="navbar-container">

            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="/Home" class="navbar-brand">
                    <small>
                        <img src="/assets/img/logo-estado.png" />
                    </small>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <h3 class="white" style="font-family: 'Times New Roman'; font-size:xx-large">Portal De Sistemas</h3>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-green" style="height: 63px">
                        @{
                            if (GerenciadorSessao.UsuarioLogado != null)
                            {
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <i class="ace-icon fa fa-user bigger-200" style="padding-top: 15px;"></i>
                                    <span class="user-info" style="max-width: 300px; padding-left: 10px">
                                        <small>
                                            Bem Vindo,
                                            @{ if (GerenciadorSessao.UsuarioLogado.SimularAcesso)
                                                {
                                                    <span style="font-weight: bold; font-size: medium;"> (ACESSO SIMULADO)</span>
                                                }
                                            }
                                        </small>
                                        @Html.Raw(GerenciadorSessao.UsuarioLogado.NomeCompleto)
                                        <small style="padding-top: 1px">
                                            <label style="font-size: 12px;">Perfil: @Html.Raw(GerenciadorSessao.UsuarioLogado.Perfil)</label>
                                        </small>
                                    </span>

                                    <i class="ace-icon fa fa-caret-down"></i>
                                </a>

                                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="~/Pronatec/AtualizacaoCadastral">
                                            <i class="ace-icon fa fa-user"></i>
                                            Meus Dados
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="~/Logoff">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Sair
                                        </a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <a data-toggle="modal" href="#" class="dropdown-toggle" data-target="#mdlLogin">
                                    <i class="ace-icon fa fa-user bigger-170" style="padding-top: 18px"></i>
                                    <span class="user-info" style="padding-top: 15px">
                                        <label class="bigger-150">Login</label>
                                    </span>
                                </a>
                            }
                        }
                    </li>
                </ul>

            </div>
        </div>
    </div><!-- navbar -->

    <div class="main-container ace-save-state" id="main-container">

        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <div class="main-container-inner">

            <div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
                <script type="text/javascript">
                    try { ace.settings.loadState('sidebar') } catch (e) { }
                </script>

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                </div>
                <ul class="nav nav-list">

                    @{
                        if (GerenciadorSessao.UsuarioLogado != null)
                        {
                            @Html.Raw(GerenciadorSessao.UsuarioLogado.MenuHtml)
                        }
                        else
                        {
                            //Menu Básico
                            <li>
                                <a href="~/Home/Index" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-home"></i>
                                    <span class="menu-text">Página Inicial</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/PortalSistemas/Sistemas" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-server"></i>
                                    <span class="menu-text">Sistemas</span>
                                </a>
                            </li>
                        }
                    }

                </ul>

                <div class="space-12"></div>
                <div>
                    <label class="infoSistema">
                        @GerenciadorConfiguracao.AppAmbiente<br />
                        Banco de Dados: @GerenciadorConfiguracao.NomeBancoDados<br />
                        Catálogo: @GerenciadorConfiguracao.CatalogoBancoDados<br />
                    </label>
                </div>

                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i id="sidebar-toggle-icon" class="ace-save-state ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>


            </div>



            @*<script type="text/javascript">
                    try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
                </script>*@

            <div class="main-content">
                @RenderBody()
            </div>

        </div>


        <!-- /.main-container-inner -->
        <!-- /.main-container -->
        <div id="loginApp">
            <login></login>
        </div>

        <script>
            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById("loginApp"), ['globalMdl']);
            });
        </script>

    </div>
</body>
</html>
